html,
body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
/* Estilo general */
body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: #634551;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  color: antiquewhite;
  font-size: 40px;
}

h2 {
  font-family: "Courier New", Courier, monospace;
  color: antiquewhite;
}

body,
p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(235, 235, 235);
}
strong {
  font-size: medium;
}

/* Pantalla de inicio */
#start-screen {
  text-align: center;
  padding: 80px;
  max-width: 650px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #262726;
  border-radius: 10px;
}

#start-button {
  padding: 10px 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;

  cursor: pointer;
  background-color: #580b35;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

#start-button:hover {
  background-color: #7c2626;
}

/* Lienzo del juego */
#game-canvas {
  display: none; /* Ocultamos el canvas hasta que el juego inicie */
  border: 2px solid #634551;
}

/* canvas del juego */
body {
  margin: 0; /* Elimina el margen por defecto */
  display: flex; /* Habilita el sistema de flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* La altura de la pantalla completa */
  background-color: black; /* Opcional: fondo del juego */
  /* overflow: hidden; Evita scroll si es necesario */
}

canvas {
  border: 2px solid white; /* Opcional: agrega un borde */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Opcional: efecto de brillo */
}

/* Estilos para la pantalla de victoria */
#victory-screen {
  position: fixed; /* Asegura que esté sobre el juego */
  top: 50%; /* Centrado verticalmente */
  left: 50%; /* Centrado horizontalmente */
  transform: translate(-50%, -50%); /* Ajuste para centrar */
  width: 400px; /* Ancho del popup */
  padding: 60px;

  background-color: rgb(8, 8, 8); /* Fondo blanco con algo de transparencia */

  border-radius: 10px; /* Bordes redondeados */
  text-align: center; /* Centrado del texto */
  box-shadow: 0 4px 8px rgba(194, 191, 191, 0.5); /* Sombra para dar efecto de popup */
  display: none; /* Inicialmente oculto */
  z-index: 1000; /* Asegura que se muestre sobre otros elementos */
}

#victory-screen h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

#victory-screen p {
  font-size: 18px;
}

#victory-screen button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  background-color: #8f4848;
  border: none;
}

#victory-screen button:hover {
  background-color: #55335a;
}

/* Estilos para la pantalla de derrota */
#defeat-screen {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
}

#defeat-screen .message {
  font-size: 1.5em;
  margin-bottom: 20px;
}

#defeat-screen button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
}

#defeat-screen button:hover {
  background-color: #ff1a1a;
}
