html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: rgb(40, 31, 48);
}

/* canvas {
  height: 500px;
  width: 900px;
  box-shadow: 10px 10px 15px black;
} */

body {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(0deg, rgb(26, 3, 36) 0%, rgb(178, 175, 180) 100%);
}
